<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>ارسال ایمیل بازیابی با موفقیت انجام شد.</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>تقاضای تغییر رمز برای شما ارسال شد.</h1>
      <p>
        دستور العمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد
         کردید اکانتی وجود داشته باشد باید به زودی این دستور العمل را دریافت کنید.
      </p>
      <p>
        اگر ایمیلی دریافت نمی کنید لطفا بررسی کنید که آدرسی که وارد کرده اید همان است
         که با آن ثبت نام کرده اید چناچه ایمیل شما درست بود پوشه اسپم خود را چک کنید.
      </p>
    </div>
  </body>
</html>